---
import Layout from "../layouts/Layout.astro";
import MainPage from "@/components/MainPage";

export const prerender = true;
---

<Layout title="Home">
	<div class="flex flex-row justify-center">
		<MainPage client:load />
	</div>
</Layout>
