---
import Layout from "../layouts/Layout.astro";
import MainPage from "@/components/MainPage";
---

<Layout title="Home">
	<div id="w" class="flex flex-row justify-center">
		<MainPage client:load />
	</div>
</Layout>
