---
import MainPage from "../components/MainPage";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<MainPage client:idle />
	</main>
</Layout>

<style></style>
