---
import { Github, Home, NotebookPen, Rss, type IconNode } from "lucide";
import Icon from "./Icon.astro";

const items: { name: string; href: string; icon: IconNode }[] = [
	{ name: "Home", href: "/", icon: Home },
	{ name: "Blog", href: "/blog", icon: NotebookPen },
	{ name: "Repo", href: "https://github.com/reyalka/site", icon: Github },
	{ name: "RSS", href: "/rss.xml", icon: Rss },
];
---

<header
	class="flex w-svw flex-col gap-5 p-5 text-site-light-black shadow-lg md:flex-row"
>
	<div class="flex grow items-center transition duration-300 hover:scale-105">
		<img src="/reyalka.webp" alt="" class="h-16 w-16" />
		<a class="text-4xl italic" href="/">れやかボックス</a>
	</div>
	<nav class="flex items-center justify-start gap-4 text-2xl sm:justify-center">
		{
			items.map(({ name, href, icon }) => (
				<a
					class="flex items-center transition duration-300 hover:scale-105 hover:duration-75"
					href={href}
				>
					<Icon icon={icon} />
					{name}
				</a>
			))
		}
	</nav>
</header>
