<style>
	div :global(h1) {
		@apply my-3 text-4xl font-bold underline underline-offset-2;
	}
	div :global(h2) {
		@apply my-3 text-4xl font-bold underline underline-offset-0;
	}
	div :global(h3) {
		@apply my-3 text-3xl font-bold;
	}
	div :global(h4) {
		@apply my-3 text-2xl font-bold;
	}
	div :global(h5) {
		@apply my-3 text-xl font-bold;
	}
	div :global(h6) {
		@apply my-3 text-base font-bold;
	}
	div :global(code:not(pre > code)) {
		@apply my-1 text-sm font-mono bg-gray-400 p-1 rounded-md;
	}
	div :global(pre) {
		@apply my-3 p-3 bg-gray-800 text-white rounded-md;
	}
	div :global(li) {
		@apply my-1 ml-5;
	}
	div :global(ul) {
		@apply my-3 list-disc;
	}
	div :global(ol) {
		@apply my-3 list-decimal;
	}
	div :global(a) {
		@apply text-blue-500 underline hover:text-blue-700 hover:scale-110;
	}
</style>

<div>
	<slot />
</div>
