<style>
	div {
		@apply text-left;
	}
	div :global(h1) {
		@apply underline underline-offset-4;
	}
	div :global(h2) {
		@apply underline underline-offset-2;
	}
	div :global(hr) {
		@apply my-5 border-t border-gray-400;
	}
	div :global(code:not(pre > code)) {
		@apply my-1 rounded-md bg-gray-200 p-1 font-mono text-xs before:content-[""] after:content-[""];
	}
	div :global(pre) {
		@apply my-3 rounded-md bg-gray-800 p-3 text-white;
	}
	div :global(li) {
		@apply my-1 ml-5;
	}
	div :global(ul) {
		@apply my-3 list-disc;
	}
	div :global(ol) {
		@apply my-3 list-decimal;
	}
	div :global(a) {
		@apply text-blue-500 underline hover:scale-110 hover:text-blue-700;
	}
</style>

<div>
	<slot />
</div>
